<style>
  .product-title {
    border-top: 1px solid #dfdfe1;
    border-bottom: 1px solid #dfdfe1;
    background-color: #fbfbfd;
    text-align: center;
    font-weight: bold;
  }

  .product-title__button {
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    border-radius: 4px;
    color: #3a3a3c;
    text-decoration: none;
    position: relative;
  }

  .product-title__button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%) scale(0.5);
    width: 37px;
    height: 30px;
    background-image: url(/assets/images/spr_book2.png);
    background-size: 660px 800px;
    background-repeat: no-repeat;
    background-position: -148px -467px;
  }
</style>

<div class="product-title">
  <a href="javascript:history.back()" class="product-title__button"
    >오디컴퍼니 주식회사
  </a>
</div>
