<style>
    .booking-wrapper {
        background-color: #0dab3c;      
        margin-top: 5px;
    }

    .booking-text {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
        padding: 12px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1.3em; 
    }

    .booking-text::before {
        content: "\EA67";
        font-family: 'Naver Icons';
        font-size: 1.1em;
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
</style>

<section class="booking-wrapper">
    <a href="../../public/index.html" class="booking-text">    <!-- 임시 url: 메인페이지로. -->
        
            예매하기 
        
    </a>            
</section>