<style>

    nav .info-tab-lst {
        border-top: 1px solid #e2e5e8;
        border-bottom: 1px solid #e2e5e8;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        list-style: none;
    }

    nav .info-tab-lst .item > .anchor {
        display: inline-block;
        padding: 10px 6px;
        white-space: nowrap;
        text-decoration: none;
        color: #333;
        cursor: pointer;
    }

    nav .info-tab-lst .item > .anchor.active {
        border-bottom: 2px solid #0aba16;
        color: #0aba16;
        font-weight: bold;
    }

    .detail-area-wrap,
    .detail-location {
        display: none;
        padding: 15px;
    }

    .detail-area-wrap.active,
    .detail-location.active {
        display: block;
    }

    .detail-area .detail-info-group {
        list-style: none;
        padding: 0;
    }

    .detail-area .detail-info-group .detail-info-lst {
        margin-bottom: 20px;
    }

    .detail-area .detail-info-group .detail-info-lst .in-tit {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .detail-area .detail-info-group .detail-info-lst .in-dsc {
        font-size: 14px;
        line-height: 1.5;
    }
    address {
        font-style: normal;
    }


    address .store-addr {
        font-size: 14px;
        color: #666;
    }

    address .store-addr-bold {
        font-size: 14px;
        color: #333;
    }

    .lst-store-info {
        list-style: none;
        padding: 0;
    }

    .lst-store-info .item {
        display: flex;
        
    }

    .bottom-common-path {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        border-top: 1px solid #ececec;
        background-color: #f5f5f5;
    }

    .bottom-common-path a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #8c8c8c;
        font-size: 15px;
        margin: 0 10px;
    }

    .img-thumb {
        max-width: 100%;
        max-height: 40%;
    }

    .store-name {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .store-map {
        width: 100%;
        height: 150px;
    }

    .location-container {
        margin-top: 5px;
    }
    
    .addr-old{
        margin-left:15px;
        color:#8c8c8c;
    }

    .addr-old-detail {
        margin-left: 5px; 
        color:#333;
        margin-bottom:0px;
    }
    
     /* 주소 아이콘 */
    .addr::before{
        content: "\EA7B";  /* 아이콘 코드 */
        font-family: 'Naver Icons'; /* 아이콘 폰트 */
        font-size: 15px;
        margin-right: 5px;
        display: inline-block;
        color: #8c8c8c; 

    }
    /* 전화번호 아이콘 */
    .tel::before {
        content: "\EA26";  
        font-family: 'Naver Icons'; 
        font-size: 17px;
        margin-right: 5px;
        display: inline-block;
        color: #8c8c8c;
    
    }
    /* 길찾기 버튼 아이콘 */
    .btn-path::before {
        content: "\EA75";  
        font-family: 'Naver Icons'; 
        font-size: 19px;
        margin-right: 5px;
        display: inline-block;
        color: gray; 
    }

    /* 내비게이션 버튼 아이콘 */
    .btn-navigation::before {
        content: "\EA65";  
        font-family: 'Naver Icons'; 
        font-size: 19px;
        margin-right: 5px;
        display: inline-block;
        color: gray; 
    }
</style>

<section class="section-info-tab">
    <nav>
        <ul class="info-tab-lst">
            <li class="item active _detail">
                <a href="#" class="anchor active"> <span>상세정보</span> </a>
            </li>
            <li class="item _path">
                <a href="#" class="anchor"> <span>오시는길</span> </a>
            </li>
        </ul>
    </nav>

    <article class="detail-area-wrap active">
        <section class="detail-area">
            <ul class="detail-info-group">
                <li class="detail-info-lst">
                    <h3 class="in-tit">[소개]</h3>
                    <p class="in-dsc">${content}</p>
                </li>
                <li class="detail-info-lst"> 
                    <h3 class="in-tit">[공지사항]</h3>
                    <figure class="in-img-group">
                        <img alt="공지사항 이미지" class="img-thumb" src="https://ssl.phinf.net/naverbooking/20170131_238/14858250829398Pnx6_JPEG/%B0%F8%C1%F6%BB%E7%C7%D7.jpg?type=a1000">
                    </figure>
                </li>
            </ul>
        </section>
    </article>

    <section class="detail-location">
        <article class="box-store-info no-topline">
            <img class="store-map img-thumb" alt="map" src="${mapImgUrl}">
            
            <address class="store-info">
                <div class="store-name">${description}</div>
                <div class="location-container">
                    <span class="addr">주소:${place_street}</span>
                </div>
                <p class="store-addr">
                    <span class="addr-old">지번</span>
                    <span class="addr-old-detail">${place_lot}</span>
                </p>
            </address>
            <ul class="lst-store-info">
                <li class="item"> 
                    <span class="item-lt"> 
                        <span class="tel">전화번호:${tel}</span>
                    </span>
                </li>
            </ul>
            <footer class="bottom-common-path column2">
                <a href="#" class="btn-path">길찾기</a>
                <a href="#" class="btn-navigation">내비게이션</a>
            </footer>
        </article>
    </section>
</section>
